#!/bin/bash

#SBATCH --account=nn9330k
#SBATCH --job-name=he_pbe_-0001_y
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task=8
#SBATCH --time=30:00:00
#SBATCH --mem=30GB
#SBATCH --partition=normal
#SBATCH --output=he_pbe_-0001_y.log
#SBATCH --error=he_pbe_-0001_y.err

module purge
module restore mrchem

export OMP_NUM_THREADS=${SLURM_CPUS_PER_TASK}

SCRATCH_DIR=/global/work/$USER/MRCHEM-$SLURM_JOBID
mkdir -p $SCRATCH_DIR
cd $SCRATCH_DIR

cp ${SLURM_SUBMIT_DIR}/he_pbe_-0001_y.inp mrchem.inp
cp -r /global/work/ambr/benchmark_orbitals/he_pbe_000_orbitals orbitals

/home/ambr/mrchem/install-mrchem/bin/mrchem -D mrchem.inp
mpirun /home/ambr/mrchem/install-mrchem/bin/mrchem.x @mrchem.inp > he_pbe_-0001_y.out

cp he_pbe_-0001_y.out ${SLURM_SUBMIT_DIR}/

exit 0
